'scopeName': 'source.bison'
'fileTypes': [
  'y'
]
'name': 'Bison'
'patterns': [
  {
    'include': '#rules'                       # Has to be the first pattern
    'comment': 'Match the beginning of the grammar rules area'
  }
  {
    'begin': '(?!^%%$)'
    'end': '(?=^%%$)'
    'comment': 'First area with prologue and declarations'
    'name': 'markup.comment'
  }
]
'repository':
  'rules':
    'patterns': [
      {
        'begin': '^(%%)$'
        'comment': 'Match grammar rules area'
        'captures':
          '0':
            'name': 'markup.italic'           # Match first %% symbol
        'patterns': [
          {
            'include': '#epilogue'            # Has to be the first pattern
            'comment': 'Match the beginning of the epilogue'
          }
          {
            'begin': '(?!^%%$)'
            'end': '(?=^%%$)'
            'comment': 'Second area with grammar rules'
            'name': 'markup.comment'
          }
        ]
      }
    ]
  'epilogue':
    'patterns': [
      'begin': '^(%%)$'
      'comment': 'Match epilogue area'
      'captures':
        '0':
          'name': 'markup.italic'             # Match second %% symbol
      'patterns': [
        {
          'include': '#structure_error'       # Has to be the first pattern
          'comment': 'Match the first exceeding %% symbol'
        }
        {
          'begin': '(?!^%%$)'
          'end': '(?=^%%$)'
          'comment': 'Second area with grammar rules'
          'name': 'markup.comment'
        }
      ]
    ]
  'structure_error':
    'patterns': [
      'begin': '^(%%)$'
      'name': 'invalid.illegal.exceeding-%%-symbols.bison'
      'comment': 'Match exceeding %% symbols'
    ]
