'scopeName': 'source.bison'
'fileTypes': [
  'y'
]
'name': 'Bison'
'patterns': [
  {
    'begin': '^(%%)$'                             # Has to be the first pattern
    'comment': 'Match from first %% symbol to EOF'
    'captures':
      '0':
        'name': 'markup.italic'                   # Match first %% symbol
    'patterns': [
      {
        'begin': '^(%%)$'                         # Has to be the first pattern
        'comment': 'Match from second %% symbol to EOF'
        'captures':
          '0':
            'name': 'markup.italic'               # Match second %% symbol
        'patterns': [
          {
            'include': '#exceeding_sections'      # Has to be the first pattern
          }
          {
            'include': '#third_section'
          }
        ]
      }
      {
        'include': '#second_section'
      }
    ]
  }
  {
    'include': '#first_section'
  }
]
'repository':
  'first_section':
    'patterns': [
        {
          'begin': '(?!^%%$)'
          'end': '(?=^%%$)'
          'comment': 'Match the content of the first section'
          'name': 'markup.comment'
        }
    ]
  'second_section':
    'patterns': [
      {
        'begin': '(?!^%%$)'
        'end': '(?=^%%$)'
        'comment': 'Match the content of the second section'
        'name': 'markup.comment'
      }
    ]
  'third_section':
    'patterns': [
      {
        'begin': '(?!^%%$)'
        'end': '(?=^%%$)'
        'comment': 'Match the content of the third section'
        'name': 'markup.comment'
      }
    ]
  'exceeding_sections':
    'patterns': [
      'begin': '^(%%)$'
      'name': 'invalid.illegal.exceeding-%%-symbols.bison'
      'comment': 'Match exceeding sections created by too many %% symbols'
    ]
