'scopeName': 'source.bison'
'fileTypes': [
  'y'
]
'name': 'Bison'
'patterns': [
  {
    'begin': '^(%%)$'                             # Has to be the first pattern
    'comment': 'Match from first %% symbol to EOF'
    'captures':
      '0':
        'name': 'meta.separator'                  # Match first %% symbol
    'patterns': [
      {
        'begin': '^(%%)$'                         # Has to be the first pattern
        'comment': 'Match from second %% symbol to EOF'
        'captures':
          '0':
            'name': 'meta.separator'              # Match second %% symbol
        'patterns': [
          {
            'include': '#exceeding_sections'      # Has to be the first pattern
          }
          {
            'include': '#third_section'
          }
        ]
      }
      {
        'include': '#second_section'
      }
    ]
  }
  {
    'include': '#first_section'
  }
]
'repository':
  'first_section':
    'patterns': [
      {
        'begin': '(?!^%%$)'
        'end': '(?=^%%$)'
        'comment': 'Match the content of the first section'
        'name': 'meta.section.first.bison'
        'patterns': [
          # TODO: Matching for the prologue goes here
          {
            'include': 'source.c#comments'
            'comment': 'Bison supports C/C++ comments'
          }
        ]
      }
    ]
  'second_section':
    'patterns': [
      {
        'begin': '(?!^%%$)'
        'end': '(?=^%%$)'
        'comment': 'Match the content of the second section'
        'name': 'meta.section.second.bison'
        'patterns': [
          # TODO: Matching of C code in brackets goes here
          {
            'include': 'source.c#comments'
            'comment': 'Bison supports C/C++ comments'
          }
        ]
      }
    ]
  'third_section':
    'patterns': [
      {
        'begin': '(?!^%%$)'
        'end': '(?=^%%$)'
        'comment': 'Match the content of the third section'
        'name': 'meta.section.third.bison'
      }
    ]
  'exceeding_sections':
    'patterns': [
      'begin': '^(%%)$'
      'name': 'invalid.illegal.exceeding-sections.bison'
      'comment': 'Match exceeding sections created by too many %% symbols'
    ]
